In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn import model_selection
from sklearn.metrics import accuracy_score, classification_report

# to use RandomForestRegressor uncomment below code
# also make sure to uncomment 2nd last and 5th last code cells and comment the only cell just below what u have uncommented

# from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_squared_error
# import numpy as np

In [3]:
data = pd.read_csv("dataset/healthcare-dataset-stroke-data.csv")

In [4]:
data.drop("id", axis=1, inplace=True)

In [5]:
data.head(5)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [6]:
def gender2num(gender):
    return 1 if gender == "Male" else 0

data['gender'] = data.gender.apply(gender2num)

In [7]:
def ever_married2num(ever_married):
    if ever_married == "Yes":
        return 1
    else:
        return 0

data['ever_married'] = data.ever_married.apply(ever_married2num)

In [8]:
def work_type2num(work_type):
    if work_type == "Private":
        return 0
    elif work_type == "Self-employed":
        return 1
    elif work_type == "Govt_job":
        return 2

data['work_type'] = data.work_type.apply(work_type2num)

In [9]:
def Residence_type2num(Residence_type):
    if Residence_type == "Urban":
        return 0
    elif Residence_type == "Rural":
        return 1

data['Residence_type'] = data.Residence_type.apply(Residence_type2num)

In [10]:
def smoking_status2num(smoking_status):
    if smoking_status == "formerly smoked":
        return 0
    elif smoking_status == "never smoked":
        return 1
    else:
        return 2

data['smoking_status'] = data.smoking_status.apply(smoking_status2num)

In [11]:
data.head(5)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,0.0,0,228.69,36.6,0,1
1,0,61.0,0,0,1,1.0,1,202.21,NaN,1,1
2,1,80.0,0,1,1,0.0,1,105.92,32.5,1,1
3,0,49.0,0,0,1,0.0,0,171.23,34.4,2,1
4,0,79.0,1,0,1,1.0,1,174.12,24.0,1,1

In [12]:
data['age'].fillna(data['age'].mean(), inplace=True)
data['avg_glucose_level'].fillna(data['avg_glucose_level'].mean(), inplace=True)

data[['hypertension', 'heart_disease', 'stroke']] = data[['hypertension', 'heart_disease', 'stroke']].fillna(0)

data['ever_married'].fillna(data['ever_married'].mode()[0], inplace=True)
data['work_type'].fillna(data['work_type'].mode()[0], inplace=True)
data['Residence_type'].fillna(data['Residence_type'].mode()[0], inplace=True)
data['smoking_status'].fillna(data['smoking_status'].mode()[0], inplace=True)

data['bmi'].fillna(data['bmi'].median(), inplace=True)

In [13]:
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,0.0,0,228.69,36.6,0,1
1,0,61.0,0,0,1,1.0,1,202.21,28.1,1,1
2,1,80.0,0,1,1,0.0,1,105.92,32.5,1,1
3,0,49.0,0,0,1,0.0,0,171.23,34.4,2,1
4,0,79.0,1,0,1,1.0,1,174.12,24.0,1,1

In [14]:
# data = pd.get_dummies(data, columns=['work_type', 'Residence_type', 'smoking_status'], drop_first=True)

# stroke_col = data.pop('stroke')
# data['stroke'] = stroke_col

# data.head()

In [15]:
data = np.array(data)
x = data[:, :10]
y = data[:, 10]
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y)

In [ ]:
# RandomForestRegressor(n_estimators=100, random_state=42)
# model.fit(x_train, y_train)

In [16]:
model = LogisticRegression(max_iter=1000)
model.fit(x_train, y_train)

LogisticRegression(max_iter=1000)

In [17]:
predictions = model.predict(x_test)

In [ ]:
# mse = mean_squared_error(y_test, predictions)
# print(f"Mean Squared Error: {mse}")

In [18]:
accuracy = accuracy_score(y_test, predictions)
accuracy

0.9460093896713615